{% extends "basefront.html.twig" %}

{% block body %}

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Ville
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre: "ASC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▲</a>
                    <a href="{{ path('voyages.sort', {champ:'ville', ordre: "DESC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▼</a>
                </th>
                <th scope="col">
                    Pays
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre: "ASC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▲</a>
                    <a href="{{ path('voyages.sort', {champ:'pays', ordre: "DESC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▼</a>
                </th>
                <th scope="col">
                    Note
                    <a href="{{ path('voyages.sort', {champ:'note', ordre: "ASC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▲</a>
                    <a href="{{ path('voyages.sort', {champ:'note', ordre: "DESC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▼</a>
                </th>
                <th scope="col">
                    Date
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre: "ASC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▲</a>
                    <a href="{{ path('voyages.sort', {champ:'datecreation', ordre: "DESC"}) }}" class="btn btn-sm btn-outline-primary" role="button">▼</a>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for visite in visites %}
                <tr>
                    <td>
                        <a href="#">{{ visite.ville }}</a>
                    </td>
                    <td>{{ visite.pays }}</td>
                    <td class="{{ visite.noteColor }}">
                        {{ visite.notesurvingt }}
                    </td>
                    <td class="{{ visite.datecreationstring ? '' : 'text-muted' }}">
                        {{ visite.datecreationstring ?: '-' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}